*{
    font-family: 'Roboto', sans-serif;
}
nav {
    background-color:black;
}

.menu {
    list-style-type: none;
}

nav ul li a {
    color: white;
    text-decoration : none;
}

#angularLink {
    color: red;
}