
/* oxford blue #102542
orange web #FCA311
platinium #E7E7E7
 */


*{
    font-family: 'EB Garamond', serif;    text-align: center;
    /* background-color: #E7E7E7; */
}
nav{
    text-align: center;
    font-size: 0.9em;
}

a {
    text-decoration: none;
}
a:hover {
background-color: #102542;
color:  #E7E7E7;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    color: #FCA311;
    font-size: 3em;
}
h3 {
    display: inline;
    font-size: larger;
    font-weight: normal;
    color:  #FCA311;
}
h4 {
    font-weight: normal;
}
h5 {
    font-size: larger;
}

.date {
    font-style:italic;
}
.lieu {
    font-weight: bold;
    color:#102542;
}

.gras {
    font-weight: bold;
}
.ita {
    font-style: oblique;
}
ul {
    list-style-type: none;
}
.disposition {
    display: flex;
    width: 100%;
    
}
div {
    width: 70%;
    font-size: 1.2em;
  }
  aside {
    width: 30%;

  }
aside, aside * {
    margin: 9px 0 9px 0;
    padding: 0;
    background-color: #102542;
    color: #E7E7E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
aside>h3 {
    color: #FCA311;
    margin : 10px 0 10px 0;
    display: inline;
    font-size: 1.5em;
}
aside>h5 {
    color: #FCA311;
    margin : 10px;
    display: inline;
    font-size: 1em;
}
aside>ul>li>span {
    display: inline;
    width: 90%;
}