*{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
nav{
    text-align: center;
  
}
header {
    
}
H1 {
    text-align: center;
}
H2 {
    text-align: center;
    color: blue;
}
H3 {
    margin-top: 2%;
    font-size: larger;
    font-weight: normal;
    color: blue;
}
H4 {
    font-weight: normal;
}
H5 {
    font-size: larger;
}
H6 {

}
.date {
    font-style:italic;
}
.lieu {
    font-weight: bold;
    color: blue;
}

.gras {
    font-weight: bold;
}
ul {
    list-style-type: none;
}
.disposition {
    display: flex;
    width: 100%;
    
}
div {
    width: 70%;
   
}
aside {
    width: 30%;
    
}