* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
}
ul {
display: flex;
list-style: none;
}
header {
    background-color:darkgreen;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    display: flex;
    justify-content: flex-end;
}